/* You can add global styles to this file, and also import other style files */
main {
  padding: 60px 80px;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/*-----------MOBILE-----------*/

@media (max-width: 600px) {

  main {
    padding: 30px 20px;
  }
}
